@font-face {
    font-family: Tattoo;
    src: url(../Fuentes/Rooters.otf);
}
@font-face {
    font-family: Tattoo-italic;
    src: url(../Fuentes/Rooters\ Italic.otf);
}
@font-face {
    font-family:Hugto ;
    src: url(../Fuentes/Hugtophia.ttf);
}
@font-face {
    font-family: avestra;
    src: url(../Fuentes/tattoogoddemo-Regular.otf);
}
::selection{
    background-color: rgb(243, 170, 11);
    color: black;
}
::-webkit-scrollbar{
    background-color: rgb(0, 0, 0);
    width: 15px;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(255, 174, 0);
    border-radius: 7px;
    box-shadow: 0px 0px 4px beige;
    border: 2px solid black;
}
::-webkit-scrollbar-thumb:active{
    background-color: beige;
    box-shadow: 0px 0px 5px rgb(243, 170, 11);
}
body{
    background-color: rgb(0, 0, 0);
    color: rgb(32, 26, 0);
}

header{
    ul{
        display: flex;
        flex-direction: row;
        list-style-type: none;
        padding: 10px;
        justify-content: end;
    }
    li{
        padding: 10px;
    }
    a{
        text-decoration: none;
        color: rgb(243, 170, 11);
        font-size: 20px;
        text-shadow: 0px 0px 5px black;
        &:hover{
            color: black;
            text-shadow: 0px 0px 5px white,  1px 1px 5px rgb(243, 170, 11);
        }
    }
}
.cabezera{
    background-color: rgb(58, 38, 0);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: Tattoo-italic;
    align-items: center;
}
#diflogo{
    color: black;
    text-shadow: 0px 0px 8px rgb(243, 170, 11);
}
.logo{
    display: flex;
    color: rgb(243, 170, 11);
    font-size: 30px;
    font-family: Tattoo-italic, Hugto;
    margin-left: 10px;
    align-items: center;
    p{
        font-weight: 600;
        text-shadow: 0px 0px 5px black;   
}
    &:hover{
        p{
            color: black;
            text-shadow: 0px 0px 3px beige;
            text-decoration: none;
        }
        #diflogo{
            color: beige;
            text-decoration: none;
        }
    }
    }
h1{
    text-align: center;
    color: rgb(243, 170, 11);
    text-shadow: 0px 0px 4px rgb(245, 180, 61);
    text-transform: uppercase;
    font-size: 70px;
    margin-top: 0px;
    margin-bottom: 30px;
    font-family: tattoo, Tattoo-italic, Hugto;
}
footer{
    color: rgb(243, 170, 11);
    background-color: rgb(58, 38, 0);
    .texto-footer{
        text-align: center;
        padding-top: 29px;
    }
    p{
        padding-top: 4px;
    }
}
#redes{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
    a{
        text-decoration: none;
        font-size: 40px;
        text-align: center;
        word-spacing: 15px;
    
        color: antiquewhite;
        &:hover{
            color: black;
            text-shadow: 0px 0px 8px rgb(243, 170, 11);
            text-decoration: none;
        }
    }
}
h2{
    margin-left: 20px;
    font-size: 60px;
    font-family: avestra;
}
.desarrollo{
    background-color: rgba(255, 255, 255, 0.534);
    margin-left: 25px;
    width: 60%;
    margin: 20px;
    border-radius: 5px;
    p{
        margin: 10px;
    }
    h2{
        padding: 10px;
        margin: auto;
}
}
.caja{
    padding-bottom: 10px;
}
.descripcion{
    background-image: url(../Multimedia/tattoo-expo-954463.jpg);
    background-size: cover;
    background-position: center;
    width: 70%;
    margin: auto;
    border-radius: 1em;
    border: 2px solid rgb(243, 170, 11);
}
#tattoo__grilla{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(7, 180px);
    // background-color: rgb(0, 0, 0);
    grid-gap: 40px;
    padding: 20px;
    .items{
        background-image: url(../Multimedia/Tattoos/ai-generated-8479122.png);
        background-size: cover;
        background-position: center;
        border: 5px solid rgb(32, 26, 0);
        filter: grayscale(50%);
        border-radius: 5px;
        &:hover{
            filter: grayscale(0%);
        border: 5px solid rgb(255, 174, 0);
        transition: 0.5s;
        border-radius: 10px;
        }
    }
    .item1{
        background-image: url(../Multimedia/Tattoos/arm-3420963.jpg);
        grid-column: 1/3;
        grid-row: 1/3;
    }
    .item2{
        background-image: url(../Multimedia/Tattoos/happy-2607217.jpg);
        grid-column: 4/4 ;
        grid-row: 1/1;
    }
    .item3{
        grid-column: 3/4 ;
        grid-row: 1/3 ;
    }
    .item4{
        background-image: url(../Multimedia/Tattoos/man-tattooing-7533875.jpg);
        grid-column: 4/4;
        grid-row: 2/4;
    }
    .item5{
        background-image: url(../Multimedia/Tattoos/tattoo-1057451.jpg);
        grid-column: 1/3 ;
        grid-row: 3/5;
    }
    .item6{
        background-image: url(../Multimedia/Tattoos/tattoo-1893141.jpg);
        grid-column: 3/5 ;
        grid-row: 4/6;
    }
    .item7{
        background-image: url(../Multimedia/Tattoos/tattoo-2894318.jpg);
        grid-column: 3/3;
        grid-row: 3/3;
    }
    .item8{
        background-image: url(../Multimedia/Tattoos/tattoo-4500425.jpg);
        grid-column:1/1 ;
        grid-row: 7/8;
    }
    .item9{
        background-image: url(../Multimedia/Tattoos/tattoo-6757466.jpg);
        grid-column: 2/3;
        grid-row: 5/6;
    }
    .item10{
        background-image: url(../Multimedia/Tattoos/tattoo-702133.jpg);
        grid-column:4/4 ;
        grid-row: 6/8;
    }
    .item11{
        background-image: url(../Multimedia/Tattoos/tatuaje-4827736.jpg);
        grid-column: 2/4;
        grid-row: 6/8;
    }
    .item12{
        background-image: url(../Multimedia/Tattoos/woman-7202448.jpg);
        grid-column:1/1 ;
        grid-row: 5/7 ;
    }
}

#demo{
    width: 80%;
    margin: auto;
    border: 6px solid rgb(175, 121, 4);
    border-radius: 3px;
}
.carrusel h3, .carrusel p{
    text-shadow: 0px 0px 7px rgb(175, 121, 4);
    text-shadow: 
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px  1px 0 #000,
    1px  1px 0 #000; 
}
.carrusel h3{
    font-size: 60px;
}
.selectores i{
    font-size: 40px;
    color: #000;
    text-shadow: 0px 0px 5px beige;
    &:active{
        color: beige;
        text-shadow: 0px 0px 5px #000 ;
        transform: scale(1.2);
    }
}
.artistas__descripcion{
    background-image: url(../Multimedia/Artistas/tattoo-3268988.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 30em;
    border: 4px solid rgb(243, 170, 11);
}
.artistas__descripcion-desarrollo{
    background-color: rgba(175, 121, 4, 0.461);
    margin-left: 25px;
    width: 50%;
    margin: 20px;
    border-radius: 5px;
    color: beige;
    h2{
        padding-top: 30px;
        font-family: Tattoo, Tattoo-italic;
        font-size: 80px;
    }
    p{
        margin: 20px;
        font-size: 20px;
    }
    span{
        margin: 20px;
    }
}
.artistas__presentacion{
    justify-content: center;
    h3{
        font-size: 50px;
        font-family: Tattoo, Tattoo-italic;
        color: rgb(243, 170, 11);
        text-shadow: 0px 0px 5px rgb(0, 0, 0);
        padding-bottom: 10px;
        text-align: center;
        margin-top: 30px;
    }
}
.artistas__presentacion-carta{
    background-image: url(../Multimedia/Artistas/las-vegas-1062140.jpg);
    width: 35em;
    height: 25em;
    margin: auto;
    background-size: cover;
    background-position: center;
    text-align: center;
    align-content: end;
    justify-content: center;
    margin-top: 10px;
    border-radius: 2em;
    border: 4px solid rgb(243, 170, 11);
    h3{
        font-size: 40px;
        font-family: Tattoo, Tattoo-italic;
        text-shadow: 0px 0px 5px beige;
        padding-bottom: 10px;
        color: #000;
    }
}
.carta2{
    background-image: url(../Multimedia/Artistas/people-2590677.jpg);
}
.carta3{
    background-image: url(../Multimedia/Artistas/tattoos-6962314.jpg);
}
.carta4{
    background-image: url(../Multimedia/Artistas/tattoo-expo-954465.jpg);
}
.artistas__presentacion-desarrollo{
    width: 100%;
    padding: 20px;
    text-align: center;
    margin: auto;
    word-spacing: 4px;
    line-height: 1.5;
    padding-bottom: 40px;
    text-shadow: #000 0px 0px 5px;
    p{
        width: 70%;
        margin: auto;
        color: beige;
        font-size: 20px;
    }
}.contacto__form{
    background-color: rgba(245, 245, 220, 0.77);
    width: 80%;
    margin: auto;
    padding: 10px;
    border: 3px solid rgb(175, 121, 4);
    border-radius: 1em;
    text-align: center;
    // margin-bottom: 30px;
    input{
    margin-bottom: 5px ;
    }
}
.contacto__contacto{
    background-color: rgba(245, 245, 220, 0.77);
    width: 80%;
    margin: auto;
    padding: 10px;
    border: 3px solid rgb(175, 121, 4);
    border-radius: 1em;
    text-align: center;
    margin-bottom: 30px;
    text-align: center;
    .contacto__contacto--con{
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 3px;
        i, a, p{
            padding: 3px;
        }
        a{
            color:  #035c09;
        }
        a:hover{
            text-decoration: none;
            color: #0cb917;
        }
    }
}
.d-num2{
    background-image: url(../Multimedia/man-2855188_1920.jpg);
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.de-num2{
    text-align: center;
    a{
        font-family: tattoo;
        padding: 3px;
        margin: 10px;
        background-color: rgb(243, 170, 11);
        font-size: 20px;
        border-radius: 0.5em;
        color: #000;
    }
    a:hover{
        text-decoration: none;
        color: rgb(175, 121, 4);
        background-color: #000;
        transition: 0.5s;
    }
}
main{ 
    h1{
            text-shadow:0px 0px 5px #000;
        }
    #inicio__main{
        background-image:url(../Multimedia/san-francisco-7008147_1920.jpg) ;
        background-size: cover;
        padding-bottom: 20px;
    }
    #tattoo__main{
        background-image:url(../Multimedia/italy-7708552_1920.jpg)  ;
        background-size: cover;
    }
    #artistas__main{
        background-image:url(../Multimedia/cyclist-5832393_1920.jpg)  ;
        background-size: cover;
    }
    #festivales__main{
        background-image:url(../Multimedia/chinatown-4582511_1920.jpg)  ;
        background-size: cover;
        padding-bottom: 20px;
        h1{
            text-shadow:0px 0px 7px #000;
        }
    }
    #contacto__main{
        background-image:url(../Multimedia/leaves-6975462_1920.png)  ;
        background-size: cover;
        padding-bottom: 20px;
        h1{
            text-shadow:0px 0px 7px #000;
        }
    }
}
//Empieza Responsive
@media only screen and (max-width:700px) {
    .descripcion{
        width: 75%;
    }
    h1{
        font-size: 50px;
    }
    #tattoo__grilla{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(7, 180px);
        grid-gap: 20px;
        padding: 15px;
        .item1{
            grid-column: 1/3;
            grid-row: 1/2;
        }
        .item2{
            grid-column: 3/4;
            grid-row: 1/2;
        }
        .item3{
            grid-column: 1/2 ;
            grid-row: 2/3 ;
        }
        .item4{
            grid-column: 2/4;
            grid-row: 2/3;
        }
        .item5{
            grid-column: 1/3 ;
            grid-row: 3/4;
        }
        .item6{
            grid-column: 2/4 ;
            grid-row: 4/5;
        }
        .item7{
            grid-column: 3/4;
            grid-row: 3/4;
        }
        .item8{
            grid-column:1/2 ;
            grid-row: 4/5;
        }
        .item9{
            grid-column: 2/4;
            grid-row: 6/8;
        }
        .item10{
            grid-column:3/4 ;
            grid-row: 5/6;
        }
        .item11{
            grid-column: 1/3;
            grid-row: 5/6;
        }
        .item12{
            grid-column:1/1 ;
            grid-row: 6/8 ;
        }
}
.desarrollo{
    h2{
        font-size: 25px;
        font-weight: 600;
    }
    p{
        font-size: 12px;
    }
}
.artistas__presentacion-carta{
    width: 25em;
    height: 18em;
}
.artistas__presentacion-desarrollo p{
    width: 90%;
    font-size: 17px;
}
header{
    a{
        font-size: 16px;
    }
    li{
        padding: 5px;
    }
}
.artistas__descripcion{
    h2{
        font-size: 60px;
    }
    }
    .de-num2{
        a{
            font-size: 13px;
            margin: 3px;
        }
    }#demo{
        width: 95%;
        height: auto;
        .carousel-item{
            width: 100%;
            height: 30em;
            img{
                height: 30em;
            }
        }
    }  
    .carousel-caption{
        h3{
            font-size: 25px;
        }
        p{
            font-size: 15px;
        }
    }
}
//termina700px

@media only screen and (max-width:550px){
    .artistas__descripcion-desarrollo{
        width: 65%;
        font-size: 10px;
}
    .artistas__descripcion{
        h2{
            font-size: 40px;
        }
        }
    }

//termina 580px

@media only screen and (max-width:480px){
    header{
        .logo{
            font-size: 17px;
        }
        a{
            font-size: 10px;
        }
    }
    footer{
        p{
            font-size: 13px;
        }
        i{
            font-size: 30px;
        }
    }
    h1{
        font-size: 30px;
        padding-bottom: 5px;
        margin-bottom: 5px;
    }
    .descripcion{
        width: 90%;
        margin: auto;
        margin-bottom: 10px;
        h2{
            font-size: 20px;
        }
        p{
            font-size: 10px;
        }
    }
    .artistas__presentacion-carta{
        width: 15em;
        height: 10em;
        h3{
            font-size: 20px;
        }
    }
    .artistas__presentacion{
        h3{
            font-size: 35px;
        }
    }
    .artistas__presentacion-desarrollo{
        width: 80%;
        padding: 20px;
        text-align: center;
        margin: auto;
        word-spacing: 4px;
        line-height: 1.5;
        padding-bottom: 40px;
        text-shadow: #000 0px 0px 5px;
        h2{
            font-size: 20px;
        }
        p{
            width: 100%;
            margin: auto;
            color: beige;
            font-size: 13px;
        }
    }
    #demo{
        width: 95%;
        height: auto;
        .carousel-item{
            width: 100%;
            height: 22em;
            img{
                height: 22em;
            }
        }
    }        
    .contacto__contacto{
            width: 80%;
            margin: auto;
            padding: 10px;
            text-align: center;
            margin-bottom: 20px;
            .contacto__contacto--con{
                font-size: 12px;
            }
        }
        .contacto__form{
            font-size: 12px;
        }
    .carousel-caption{
        h3{
            font-size: 20px;
        }
        p{
            font-size: 10px;
        }
    }
    .de-num2{
        a{
            font-size: 10px;
            margin: 2px;
        }
        
    }

}
//termina 480px



