@font-face {
    font-family: Tattoo;
    src: url(./Fuentes/Rooters.otf);
}
@font-face {
    font-family: Tattoo-italic;
    src: url(Fuentes/Rooters\ Italic.otf);
}
@font-face {
    font-family:Hugto ;
    src: url(Fuentes/Hugtophia.ttf);
}
@font-face {
    font-family: avestra;
    src: url(Fuentes/Avestrava\ Regular\ Personal\ Use\ Only.ttf);
}::selection{
    background-color: rgb(243, 170, 11);
    color: black;
}
::-webkit-scrollbar{
    background-color: rgb(0, 0, 0);
    width: 15px;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(255, 174, 0);
    border-radius: 7px;
    box-shadow: 0px 0px 4px beige;
    border: 2px solid black;
}
::-webkit-scrollbar-thumb:active{
    background-color: beige;
    box-shadow: 0px 0px 5px rgb(243, 170, 11);
}
body{
    background-color: rgb(0, 0, 0);
    color: rgb(32, 26, 0);
}
header ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 10px;
    justify-content: end;
}
header li{
    padding: 10px;
}
header a{
    text-decoration: none;
    color: rgb(243, 170, 11);
    font-size: 20px;
    text-shadow: 0px 0px 5px black;
}
header a:hover{
    color: black;
    text-shadow: 0px 0px 5px white,  1px 1px 5px rgb(243, 170, 11);
}
.cabezera{
    background-color: rgb(58, 38, 0);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: Tattoo-italic;
}
.logo{
    display: flex;
    color: rgb(243, 170, 11);
    font-size: 30px;
    font-family: Tattoo-italic, Hugto;
    margin-left: 10px;
    align-items: center;
}
.cabezera__enlace{
    align-content: center;
}
.logo p{
    font-weight: 600;
    text-shadow: 0px 0px 5px black;
}
.logo:hover{
    p{
        color: black;
        text-shadow: 0px 0px 3px beige;
    }
    #diflogo{
        color: beige;
    }
}
#diflogo{
    color: black;
    text-shadow: 0px 0px 8px rgb(243, 170, 11);
}
h1{
    text-align: center;
    color: rgb(243, 170, 11);
    text-shadow: 0px 0px 4px rgb(245, 180, 61);
    text-transform: uppercase;
    font-size: 70px;
    margin-top: 40px;
    margin-bottom: 30px;
    font-family: tattoo, Tattoo-italic, Hugto;
}
footer{
    color: rgb(243, 170, 11);
    background-color: rgb(58, 38, 0);
}
footer .texto-footer{
    text-align: center;
    padding-top: 29px;
}
.texto-footer p{
    padding-top: 4px;
}
#redes{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
}
#redes a{
    text-decoration: none;
    font-size: 40px;
    text-align: center;
    color: antiquewhite;
    word-spacing: 15px;
}
#redes a:hover{
    color: black;
    text-shadow: 0px 0px 8px rgb(243, 170, 11);
}
h2{
    /* text-align: center; */
    margin-left: 20px;
    font-size: 60px;
    font-family: avestra;
}
.desarrollo h2{
    padding: 10px;
    padding-left: 15px;


}
.desarrollo{
    background-color: rgba(255, 255, 255, 0.534);
    margin-left: 25px;
    width: 60%;
    margin: 20px;
    border-radius: 5px;
}
.desarrollo p{
    margin: 10px;
}
.caja{
    padding-bottom: 10px;
}
.descripcion{
    background-image: url(./Multimedia/tattoo-expo-954463.jpg);
    background-size: cover;
    background-position: center;
    width: 70%;
    margin-left: 20px;
    border-radius: 1em;
    border: 2px solid rgb(243, 170, 11);
}

@media only screen and (min-width:850px) {
    .descripcion{
        width: 60%;
    }
    /* .carrusel img{
        width: 100%;
        height: 700em;
    }
/*  */}

#tattoo__grilla{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(7, 180px);
    background-color: rgb(0, 0, 0);
    grid-gap: 40px;
    padding: 20px;
}
.items{
    background-image: url(./Tattoos/multimedia/ai-generated-8479122.png);
    background-size: cover;
    background-position: center;
    border: 5px solid rgb(32, 26, 0);
    filter: grayscale(50%);
    border-radius: 5px;
}
.items:hover{
    filter: grayscale(0%);
    border: 5px solid rgb(255, 174, 0);
    transition: 0.5s;
    border-radius: 10px;
}
.item1{
    background-image: url(./Tattoos/multimedia/arm-3420963.jpg);
    grid-column: 1/3;
    grid-row: 1/3;
}
.item2{
    background-image: url(Tattoos/multimedia/happy-2607217.jpg);
    grid-column: 4/4 ;
    grid-row: 1/1;
}
.item3{
    grid-column: 3/4 ;
    grid-row: 1/3 ;
}
.item4{
    background-image: url(Tattoos/multimedia/man-tattooing-7533875.jpg);
    grid-column: 4/4;
    grid-row: 2/4;
}
.item5{
    background-image: url(Tattoos/multimedia/tattoo-1057451.jpg);
    grid-column: 1/3 ;
    grid-row: 3/5;
}
.item6{
    background-image: url(Tattoos/multimedia/tattoo-1893141.jpg);
    grid-column: 3/5 ;
    grid-row: 4/6;
}
.item7{
    background-image: url(Tattoos/multimedia/tattoo-2894318.jpg);
    grid-column: 3/3;
    grid-row: 3/3;
}
.item8{
    background-image: url(Tattoos/multimedia/tattoo-4500425.jpg);
    grid-column:1/1 ;
    grid-row: 7/8;
}
.item9{
    background-image: url(Tattoos/multimedia/tattoo-6757466.jpg);
    grid-column: 2/3;
    grid-row: 5/6;
}
.item10{
    background-image: url(Tattoos/multimedia/tattoo-702133.jpg);
    grid-column:4/4 ;
    grid-row: 6/8;
}
.item11{
    background-image: url(Tattoos/multimedia/tatuaje-4827736.jpg);
    grid-column: 2/4;
    grid-row: 6/8;
}
.item12{
    background-image: url(Tattoos/multimedia/woman-7202448.jpg);
    grid-column:1/1 ;
    grid-row: 5/7 ;
}

#demo{
    width: 80%;
    margin: auto;
    border: 6px solid rgb(175, 121, 4);
    border-radius: 3px;
}
.carrusel h3, .carrusel p{
    text-shadow: 0px 0px 7px rgb(175, 121, 4);
    text-shadow: 
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px  1px 0 #000,
    1px  1px 0 #000; 
}
.carrusel h3{
    font-size: 60px;
    /* text-shadow: 0px 0px 4px rgb(175, 121, 4); */
    /* background-color: black; */
}

.selectores i{
    font-size: 40px;
    color: #000;
    text-shadow: 0px 0px 5px beige;
}
.selectores i:active{
    color: beige;
    text-shadow: 0px 0px 5px #000 ;
    transform: scale(1.2);
}
.artistas__descripcion{
    background-image: url(./Artistas/Multimedia/tattoo-3268988.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 30em;
    /* border-radius: 1em; */
    border: 4px solid rgb(243, 170, 11);
    /* border-top: 20px solid rgb(175, 121, 4); */
}
.artistas__descripcion-desarrollo{
    background-color: rgba(175, 121, 4, 0.461);
    margin-left: 25px;
    width: 50%;
    margin: 20px;
    border-radius: 5px;
    color: beige;
}
.artistas__descripcion-desarrollo h2{
    padding-top: 30px;
    font-family: Tattoo, Tattoo-italic;
    font-size: 80px;
}
.artistas__descripcion-desarrollo p{
    margin: 20px;
    font-size: 20px;
}
.artistas__descripcion-desarrollo span{
    margin: 20px;
}
.artistas__presentacion{
    justify-content: center;
    background-color: rgb(0, 0, 0);  
    /* border-top: 20px solid rgb(175, 121, 4); */
}
.artistas__presentacion h3{
    font-size: 50px;
    font-family: Tattoo, Tattoo-italic;
    color: rgb(243, 170, 11);
    text-shadow: 0px 0px 5px beige;
    padding-bottom: 10px;
    text-align: center;
    margin-top: 30px;
}
.artistas__presentacion-carta{
    background-image: url(./Artistas/Multimedia/las-vegas-1062140.jpg);
    width: 35em;
    height: 25em;
    margin: auto;
    background-size: cover;
    background-position: center;
    text-align: center;
    align-content: end;
    justify-content: center;
    margin-top: 10px;
    border-radius: 2em;
    border: 4px solid rgb(243, 170, 11);
}
.artistas__presentacion-carta h3{
    font-size: 40px;
    font-family: Tattoo, Tattoo-italic;
    text-shadow: 0px 0px 5px beige;
    padding-bottom: 10px;
    color: #000;
}
.carta2{
    background-image: url(./Artistas/Multimedia/people-2590677.jpg);
}
.carta3{
    background-image: url(./Artistas/Multimedia/tattoos-6962314.jpg);
}
.carta4{
    background-image: url(./Artistas/Multimedia/tattoo-expo-954465.jpg);
}
.artistas__presentacion-desarrollo{
    background-color: rgb(0, 0, 0);
    width: 80%;
    padding: 20px;
    /* border-top: 3px dashed beige; */
    text-align: center;
    margin: auto;
    word-spacing: 4px;
    line-height: 1.5;
    padding-bottom: 40px;
}
.artistas__presentacion-desarrollo p{
    width: 50%;
    margin: auto;
    color: beige;
    font-size: 20px;
}
@media only screen and (max-width:700px) {
    .descripcion{
        width: 75%;
    }
    #tattoo__grilla{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(7, 180px);
        grid-gap: 20px;
        padding: 15px;
}
.item1{
    grid-column: 1/3;
    grid-row: 1/2;
}
.item2{
    grid-column: 3/4;
    grid-row: 1/2;
}
.item3{
    grid-column: 1/2 ;
    grid-row: 2/3 ;
}
.item4{
    grid-column: 2/4;
    grid-row: 2/3;
}
.item5{
    grid-column: 1/3 ;
    grid-row: 3/4;
}
.item6{
    grid-column: 2/4 ;
    grid-row: 4/5;
}
.item7{
    grid-column: 3/4;
    grid-row: 3/4;
}
.item8{
    grid-column:1/2 ;
    grid-row: 4/5;
}
/* Hasta aca llegue */
.item9{
    grid-column: 2/4;
    grid-row: 6/8;
}
.item10{
    grid-column:3/4 ;
    grid-row: 5/6;
}
.item11{
    grid-column: 1/3;
    grid-row: 5/6;
}
.item12{
    grid-column:1/1 ;
    grid-row: 6/8 ;
}
.artistas__presentacion-carta{
    width: 25em;
    height: 18em;
}
.artistas__presentacion-desarrollo p{
    width: 90%;
    font-size: 17px;
}
header a{
    font-size: 15px;
}
}